<!--{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/../semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/../semantic/dist/semantic.min.css">
    <script
 	 src="https://code.jquery.com/jquery-3.1.1.min.js"
 	 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 	 crossorigin="anonymous"></script>
    <script src="~/../semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="~/../semantic/dist/semantic.js"></script>
    <link rel="icon" href="~/../book-icon.png">
    <link rel="stylesheet" href="~/../css/style.css">

</head>

<header>

        <div class="ui left vertical inverted thin sidebar menu visible" style="background-color: #120a18">
                <div class="item">  
                        <a class="ui logo icon image" href="/">
                          <img src="~/../iconelivro.png"></a>
                        </div>
                        </a>
                <a class="item">Cadastro</a>
                <a class="item">Empréstimo</a>
                <a class="item">Consultar</a>
                <a class="item">Cadastro</a>
                <a class="item">Pagamentos</a>
                <a class="item">Meu Perfil</a>
                </div>

</header>

<body>

    <section class="ui container">
        <article class="ui grid">
        <div class="ui three column grid">
        <div class="column">
            <img class="ui medium rounded image" src="C:\Users\Ichinara\Documents\Bibliotefast\semantic\examples\assets\images\wireframe\image-square.png">
            <h1>
                CLinspector
                </h1>

        </div></article>
    </section>

    <section class="ui container">
        <article class="ui grid">
          <div class="two wide column"></div>
          <div class="twelve wide column" id="margem">

            <form class="ui fluid form">
              <div class="field">
                <label>Nome Completo:</label>
                <input type="text">
              </div>


            <form class="ui fluid form">
              <div class="field">
                <label>Nasceu em:</label>
                <input type="text">
              </div>


            <form class="ui fluid form">
              <div class="field">
                <label>Telefone:</label>
                <input type="text">
              </div>

            <form class="ui fluid form">
              <div class="field">
                <label>Endereço:</label>
                <input type="text">

                <label>nº:</label>
                <input type="text">
              </div>


            <form class="ui fluid form">
              <div class="field">
                <label>Complemento:</label>
                <input type="text">
              </div>


            <form class="ui fluid form">
              <div class="field">
                <label>CPF:</label>
                <input type="text">
              </div>
        </article>
</section>

<!--
{%endblock body_block%}-->